

<h1><%=@pirate.name%></h1>
    <p>Pirate's Weight: <%=@pirate.weight%></p>
    <p>Pirate's Height: <%=@pirate.height%></p>
<h2><%=@ship_1.name%></h2>
    <p>Type of ship: <%=@ship_1.type%></p>
    <p>Booty on ship: <%=@ship_1.booty%> </p>

<h2><%=@ship_2.name%></h2>
    <p>Type of ship: <%=@ship_2.type%></p>
    <p>Booty on ship: <%=@ship_2.booty%> </p>
